.channel-wrapper{
    float: left;
    background: rgb(234, 234, 241);
    background: #504242; 
    height: 50vh;
    min-width: 177px;
    max-width: 200px;
    min-height: 92.9vh;
    max-height: 94.4vh;
    

}
.channels{
    margin-top: .5em;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}


.active-channel{
    padding: .6em;
    font-size: 16px;
    background-color: #4664FF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.add-channel{
    padding: .5em;
    background-color: #4664FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-channel:hover{
    background-color: white;
    color: rgb(74, 30, 30);
}
hr{
    align-self: center;
    border: 2px solid white;
    border-width: 1px;
    padding: 0 4.5em;
}